html {
    --border-main: 2px solid rgb(110, 110, 110);
    --background-main: rgb(155, 155, 155);
}

.border-primary {
    border-radius: 0;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

p {
    margin: 0.2rem;
}

#body {
    width: 75%;
    margin: 1.5rem auto;
    display: grid;
    gap: 1.5rem;
   
}
.grid-col-span-2 {
    grid-column: 0;
} 


.titleblock {
    background-color: var(--background-main);
    border: var(--border-main);
    padding: 1rem;
    text-align: center;
}

.brief {
    text-align: left;
}

.imgblock {
    background-color: var(--background-main);
    border: var(--border-main);
    padding: 1rem;
    text-align: center;
}

#image {
    width: 80%;
    max-height: auto;
    border: var(--border-main);
}

#img-caption {
    padding: 1rem;
    font-weight: bold;
}

@media (min-width:950px) {
    .grid-col-span-2 {
        grid-column: span 2;
    }
    
    #body {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        height: 1000px;
    }  
}

.description {
    padding: 1rem;
    border: var(--border-main);
}

.links {
    padding: 1rem;
    border: var(--border-main);
}

.discography {
    padding: 1rem;
    border: var(--border-main);
}

li {
    list-style: none;
    padding: 0.2rem;
}

summary:hover {
    color: red;
}

a:hover {
    color: red; 
}